#floorplans {
	list-style: none;
}

#floorplans.grid {
	list-style: none;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(15em, 25vw));
	grid-column-gap: .65em;
	grid-row-gap: 1em;
	padding-left: 0;
}

#floorplans.grid > li {
	//aspect-ratio: 1;
}

#floorplans.grid > li > .floorplan {
	box-sizing: border-box;
	display: block;
	height: 100%;
	border: .15em solid grey;
	border-radius: .4rem;
	/* NOTE: Required for footers to be slapped on the bottom, not sure why */
	position: relative;
	overflow: hidden;
}

.floorplan {
	background-color: #FAFAFA;
	padding: .5em .75em;
}

.floorplan > header {
	padding: 4%;
}

.floorplan > header > .fp_ops {
	display: flex;
	justify-content: space-between;
	padding-bottom: .5em;
	border-bottom: thin solid grey;
}

.floorplan > header > .fp_ops > a {
	margin-right: .25em;
}

.floorplan > header > .fp_ops > .fp_buttons > input {
	margin: 0 .2em;
}

.floorplan > footer {
	background-color: rgba(0, 0, 0, .05);
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 4%;
	opacity: 60%;
	border-radius: .2rem 0 0 0;
}

.floorplan:hover > footer {
	opacity: 100%;
}

.name_div {
	display: flex;
	align-items: center;
	margin-bottom: .25em;
}

.name_div > input[type="image"] {
	border: none;
}

input.name, input.synopsis, input.address {
	background-color: white;
}

/*
 * Maybe I should give these elements two classes: fp_metadata and
 * one of the following: */
input.synopsis, input.address {
	display: block;
	max-width: 60%;
}

.name {
	font-size: larger;
	margin-top: .75em;
	margin-bottom: .5em;
	max-width: 90%;
	display: inline;
	
}

.address {
	font-style: italic;
	margin-bottom: .5em;
}

.synopsis {
	margin-top: 0;
}

.address::before {
	content: "Address: ";
	font-size: smaller;
}

.delete_dialog {
	background-color: #F3F3F3;
	position: fixed;
	top: 20vh;
	left: 20vw;
	width: 60vw;
	align-content: center;
	border: thin solid black;
	border-radius: .25em;
	padding: 1em;
}

.delete_dialog > input {
	margin: .5em;
	font-size: larger;
}
