.floorplan > header > input[type="button"] {
	float: right;
}

#floorplans.grid {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(3, minmax(10em, 24em));
	grid-column-gap: .5em;
	grid-row-gap: 1em;
	padding-left: 0;
}

#floorplans.grid > li {
	aspect-ratio: 1;
}

#floorplans.grid > li > .floorplan {
	box-sizing: border-box;
	display: block;
	height: 100%;
	border: medium solid black;
	border-radius: .4rem;
	/* NOTE: Required for footers to be slapped on the bottom, not sure why */
	position: relative;
	overflow: hidden;
}

#floorplans.grid > li > .floorplan > header {
	padding: 4%;
	background-color: rgba(0, 0, 0, .1);
}

#floorplans.grid > li > .floorplan > header > h2 {
	margin: 0 0 .5rem 0;
}

#floorplans.grid > li > .floorplan > footer {
	background-color: rgba(0, 0, 0, .05);
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 4%;
	opacity: 60%;
	border-radius: .2rem 0 0 0;
}

#floorplans.grid > li > .floorplan:hover > footer {
	opacity: 100%;
}

#floorplans.grid > li > .floorplan > header {
	min-height: 25%;
}

#floorplans:not(.grid) > li > .floorplan {
	margin: 2rem;
}

#floorplans:not(.grid) > li {
	max-width: 32rem;
}

.name_div {
	display: flex;
	align-items: center;
	margin-bottom: .25em;
}

.name_div > input[type="image"] {
	border: none;
}

.fp_name {
	font-size: large;
	margin-bottom: .25em;
	display: inline;
	
}

.fp_address {
	font-style: italic;
	margin-bottom: .5em;
}

.fp_terms {
	margin-top: 0;
}

.fp_address::before {
	content: "Address: ";
	font-size: smaller;
}

/* Maybe I should give these elements two classes: fp_metadata and
 * one of the following: */
input.fp_synopsis, input.fp_address {
	display: block;
	max-width: 60%;
}

.delete_dialog {
	background-color: #F3F3F3;
	position: absolute;
	top: 20vh;
	left: 20vw;
	width: 60vw;
	align-content: center;
	border: thin solid black;
	border-radius: .25em;
	padding: 1em;
}

.delete_dialog > input {
	margin: .5em;
	font-size: larger;
}
