#floorplans.grid {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5%;
	width: 100%;
	padding: 0;
}

#floorplans.grid > li {
	aspect-ratio: 1;
}

#floorplans.grid > li > .floorplan {
	box-sizing: border-box;
	display: block;
	height: 100%;
	border: medium solid black;
	border-radius: .4rem;
	/* NOTE: Required for footers to be slapped on the bottom, not sure why */
	position: relative;
	overflow: hidden;
}

#floorplans.grid > li > .floorplan > header {
	padding: 4%;
	background-color: rgba(0, 0, 0, .1);
}

#floorplans.grid > li > .floorplan > header > h2 {
	margin: 0 0 .5rem 0 ;
}

#floorplans.grid > li > .floorplan > footer {
	background-color: rgba(0, 0, 0, .05);
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 4%;
	opacity: 60%;
	border-radius: .2rem 0 0 0;
}

#floorplans.grid > li > .floorplan:hover > footer {
	opacity: 100%;
}

.floorplan > header {
	min-height: 25%;
}

input.fp_name {
	font-size: larger;
}

input.fp_address {
	font-style: italic;
}

input {
	display: block;
	max-width: 80%;
}
