/* SVG element CSS */

#points > * {
	fill: lightgrey;
}

#points > .selected {
	fill: blue;
}

#pointmaps > * {
	stroke: black;
}

#pointmaps > .selected {
	stroke: blue;
}

#pointmaps > .door {
	stroke-width: 140;
	stroke-dasharray: 400 100;
}
