/* SVG element CSS */

circle.selected {
	fill: blue;
}

line {
	stroke: black;
}

line.selected {
	stroke: blue;
}

.preview.wall {
	stroke: grey;
}

 
line.door {
	stroke-width: 140;
	stroke-dasharray: 400 100;
}

.point {
	fill: lightgrey;
}
