* {
	stroke-width: 6;
}

#walls {
	fill: none;
	stroke: black;
}

.preview {
	fill: lightgrey;
	stroke: lightgrey;
}

#grid_1 > line {
	stroke: black;
	stroke-width: 1;
}

#grid_2 > line {
	stroke: #FAFAFA;
	stroke-width: 1;
}

#debug_cursor {
	fill: red;
	r: .25em;
}
