body {
	margin: 4rem;
}

nav {
        top: 0;
        left: 0;
        position: absolute;
        margin: 0;
        width: 100%;
        height: 2rem;
        background-color: lightgrey;
}

nav > ul {
        margin: 0;
        padding: 0;
}

nav > ul > li {
        /* not quite needed */
        display: inline-block;
        float: left;
}

nav > ul:nth-child(2) {
        float: right;
}

nav > ul > li {
        display: block;
        padding: .5rem;
        height: 1rem;
}

aside {
	float: right;
}

input[type="image"].icon {
	width: 2em;
	image-rendering: crisp-edges;
	margin: .15rem;
	padding: .15rem;
	border: .05em solid rgba(0, 0, 0, .2);
	border-radius: .4em;
}

input[type="image"].icon:hover {
	border-color: rgba(0, 0, 0, .4);
}

.error {
	background-color: red;
	border: thin solid darkred;
	border-radius: .25rem;
	width: fit-content;
	margin: .5rem 0 ;
	padding: .2rem;
}

.error > p {
	margin: 0;
	display: inline;
	vertical-align: middle;
}

.error > input[class="icon"] {
	width: 1rem;
	vertical-align: middle;
}
